.App {
 /* 기본 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
  }
  
  #root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* 홈 페이지 스타일 */
  .home-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .home-container h1 {
    font-size: 2.5rem;
    color: #007BFF;
    margin-bottom: 20px;
  }
  
  .home-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .home-container button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .home-container button:hover {
    background-color: #0056b3;
  }
}
