.create-game-character {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.create-game-character label {
  margin-bottom: 10px;
}

.create-game-character input {
  margin-left: 10px;
}

.create-game-character button {
  margin-top: 20px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}
